#speechify{
	position: absolute;
	border: 0;
	margin-bottom: 8px;
	background-color: black;
	padding: 5px;
	color: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: none;
	font-family: verdana, sans-serif;
	font-weight: normal;
	font-size: 11px;
}	

#speechify_spike {
	position: absolute;
	display: none;
}